<div class="fullPage" >


	<div class="container">
		<center>
			<p class="thank"> Thank You!. You Have Been Logged Out! </p>
			<p class="goToLogin" ><%= link_to "Click here", '/welcome' %> to go home page</p>
		</center>
	</div>
	<div class="footer">
		Visit Soon
	</div>
</div>