<div class="fullPage">
	<center>
		<div class="loginOptionBox">
			<h2>LOGIN AS </h2><br>
			<%= link_to "Member", '/login', class: 'button' %><br>
			Not a member?<%= link_to "Sign Up", '/users/new' %>
			<br><br>
			<%= link_to "Librarian", '/', class: 'button' %>
		</div>
	</center>
</div>