<div class="fullPage" >
	<div class="header" >
		<%= link_to image_tag('/assets/bookLogo.jpg'), '/books' , :class=>'logo' %>

		<center>
			<h1 > LIBRARY MANAGEMENT SYSTEM</h1>
			<p> A platform to search your favorite book </p>
		</center>
		<div class="tab">
			<div class="contents">
				Welcome, <%= current_user.full_name %> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

				<a href='/logOut'>Logout</a>
				&nbsp;&nbsp;&nbsp;&nbsp;
			</div>
			
		</div>
	</div>

	<div class="container">
		<center>
			<p class="thank"> Thank You!. Your lending has been registered </p>
			<p class="goToHome" ><%= link_to "Click here", '/books' %> to go home page</p>
		</center>
	</div>


	<div class="footer">
		Visit Soon
	</div>
</div>